<a><img src="https://cdn.iconscout.com/icon/free/png-256/data-science-46-1170621.png" width="200" align="center"></a>
<h1><center>Applied Data Science Capstone</center></h1>

<h3><center>Neighborhood Segmentation and Clustering</center></h3>
<h4><center>Week 3 - Segmenting and Clustering Neighborhoods in New York</center></h4>

Welcome to my week 3 notebook. In this assignment, I will be required to explore, segment, and cluster the neighborhoods in the city of Toronto. However, unlike New York, the neighborhood data is not readily available on the internet. What is interesting about the field of data science is that each project can be challenging in its unique way, so you need to learn to be agile and refine the skill to learn new libraries and tools quickly depending on the project.

<h2>Import Data</hh2>

<h4>Import Libraries</h4>

In [8]:
#!pip install geocoder

import pandas as pd
import numpy as np
import geocoder

<h4>Import Data</h4>

In [9]:
df = pd.read_csv('toronto-neighborhoods.csv')

In [10]:
df.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

<h4>Generate Latitude and Longitude Lists</h4>

In [ ]:
latitude = []
longitude = []
i=0

# loop until you get the coordinates
while i < len(df):
    # initialize your variable to None
    lat_lng_coords = None
    postal_code = df['Postcode'].loc[i]
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
    count += 1
    countdown = (len(df) - count)
    print('Got {}, another {} to go'.format(count, countdown))
    latitude.append(lat_lng_coords[0])
    longitude.append(lat_lng_coords[1])
    i += 1

<h4>Join the Lists to Dataframe</h4>

In [ ]:
df['Latitude'], df['Longitude'] = latitude, longitude

<h3>If the code above takes too long (unreliable api), then use the csv</h3>

<h4>Read in the Dataframe</h4>

In [11]:
lat_lng_toronto = pd.read_csv('Geospatial_Coordinates.csv')
lat_lng_toronto.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

<h4>Create Latitude Longitude Lists & Join to Dataframe</h4>

In [12]:
latitude = []
longitude = []
poco = lat_lng_toronto['Postal Code']
    
for p_code in df['Postcode']:
    here = poco[poco == p_code].index[0]
    latitude.append(lat_lng_toronto['Latitude'].iloc[here])
    longitude.append(lat_lng_toronto['Longitude'].iloc[here])
    
df['Latitude'], df['Longitude'] = latitude, longitude
df.head(10)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848

In [13]:
df.to_csv('toronto-neighborhoods_latlng.csv')